A formal definition of the networks structure , including the number of inputs , number of hidden layers  and number of nodes in the hidden layers as well as the number of node in the output layer.

In [1]:
n = 8 # number of inputs
num_of_hidden_layers = 1  
m =[10] # number of nodes in the single hidden layer
num_nodes_output = 1

Using the numpy library we initialize the weights and the biases to random numbers

In [2]:
import numpy as np # import the Numpy library

num_nodes_previous = n # number of nodes in the previous layer

network = {} # initialize network an an empty dictionary

# loop through each layer and randomly initialize the weights and biases associated with each node
# notice how we are adding 1 to the number of hidden layers in order to include the output layer
for layer in range(num_of_hidden_layers + 1): 
    
    # determine name of layer
    if layer == num_of_hidden_layers:
        layer_name = 'output'
        num_nodes = num_nodes_output 
    else:
        layer_name = 'layer_{}'.format(layer + 1)
        num_nodes = m[layer]
    
    # initialize weights and biases associated with each node in the current layer
    network[layer_name] = {}
    for node in range(num_nodes):
        node_name = 'node_{}'.format(node+1)
        network[layer_name][node_name] = {
            'weights': np.around(np.random.uniform(size=num_nodes_previous), decimals=2),
            'bias': np.around(np.random.uniform(size=1), decimals=2),
        }
    
    num_nodes_previous = num_nodes
    
print(network) # print network

{'layer_1': {'node_1': {'weights': array([0.13, 0.56, 0.66, 0.39, 0.06, 0.43, 0.68, 0.31]), 'bias': array([0.63])}, 'node_2': {'weights': array([0.98, 0.64, 0.48, 0.29, 0.3 , 0.99, 0.08, 0.78]), 'bias': array([0.07])}, 'node_3': {'weights': array([0.93, 0.58, 0.88, 0.12, 0.73, 0.17, 0.66, 0.75]), 'bias': array([0.8])}, 'node_4': {'weights': array([0.26, 0.24, 0.21, 0.24, 0.71, 0.63, 0.7 , 0.49]), 'bias': array([0.07])}, 'node_5': {'weights': array([0.66, 0.01, 0.68, 0.6 , 0.53, 0.73, 0.61, 0.51]), 'bias': array([0.95])}, 'node_6': {'weights': array([0.4 , 0.1 , 0.21, 0.86, 0.98, 0.59, 0.59, 1.  ]), 'bias': array([0.84])}, 'node_7': {'weights': array([0.8 , 0.9 , 0.52, 0.93, 0.71, 0.46, 0.23, 0.48]), 'bias': array([1.])}, 'node_8': {'weights': array([0.3 , 0.78, 0.81, 0.33, 0.72, 0.49, 0.4 , 0.16]), 'bias': array([0.68])}, 'node_9': {'weights': array([0.69, 0.81, 0.88, 0.78, 1.  , 0.62, 0.13, 0.39]), 'bias': array([0.58])}, 'node_10': {'weights': array([0.87, 0.36, 0.54, 0.52, 0.26, 0.18, 0.99, 0.74]), 'bias': array([0.34])}}, 'output': {'node_1': {'weights': array([0.67, 0.8 , 0.01, 0.35, 0.82, 0.95, 0.86, 0.83, 0.96, 0.34]), 'bias': array([0.96])}}}

In [28]:
# import packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
  
# importing data
df = pd.read_csv('concrete_data.csv')
  
# head of the data
#print(df.head())

#prepare the X  variables 

X1 = df['Cement']
X2=df['Blast Furnace Slag']
X3 =df['Fly Ash']
X4=df['Water']
X5=df['Superplasticizer']
X6=df['Coarse Aggregate']
X7=df['Fine Aggregate']
X8=df['Age']
X = pd.concat([X1,X2,X3,X4,X5,X6,X7,X8], axis=1)
X.head(20)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28
10,198.6,132.4,0.0,192.0,0.0,978.4,825.5,90
11,198.6,132.4,0.0,192.0,0.0,978.4,825.5,28
12,427.5,47.5,0.0,228.0,0.0,932.0,594.0,270
13,190.0,190.0,0.0,228.0,0.0,932.0,670.0,90
14,304.0,76.0,0.0,228.0,0.0,932.0,670.0,28
15,380.0,0.0,0.0,228.0,0.0,932.0,670.0,90
16,139.6,209.4,0.0,192.0,0.0,1047.0,806.9,90
17,342.0,38.0,0.0,228.0,0.0,932.0,670.0,365
18,380.0,95.0,0.0,228.0,0.0,932.0,594.0,90
19,475.0,0.0,0.0,228.0,0.0,932.0,594.0,180

In [26]:
#prepare the Y variables 
Y1 = df['Strength']
Y = pd.concat([Y1], axis=1)
Y.head(20)

    Strength
0      79.99
1      61.89
2      40.27
3      41.05
4      44.30
5      47.03
6      43.70
7      36.45
8      45.85
9      39.29
10     38.07
11     28.02
12     43.01
13     42.33
14     47.81
15     52.91
16     39.36
17     56.14
18     40.56
19     42.62

In [30]:
x_train, x_test,y_train,y_test = train_test_split(X,Y,test_size =0.3)
# print the data
# x_train

     Strength
169     65.20
331     52.50
420     33.09
720     51.86
51      46.93
..        ...
638     38.21
489     25.51
273     45.84
650     33.19
458     37.96

[721 rows x 1 columns]